---
import Layout from '../layouts/Layout.astro';
import TodoList from '../components/TodoList';
---



<Layout title="Welcome to Astro.">
	<main>
		<div class="p-10 max-w-lg mx-auto bg-white rounded-xl shadow-lg flex items-center mt-10">
			<!-- ... -->
			<TodoList client:load/>
		
		</div>
	</main>
</Layout>
